.hero {
    z-index: 1;
    position: relative;
    background-color: #fce373;
}

.hero-inner {
    padding: 10vw 4vw 0;
}

.hero-inner h1 {
    font-size: 8vw;
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .02em;
    line-height: 1;
    position: relative;
    bottom: -0.2em;
}
