.slide .slick-track {
    display: flex;
}

.slide .slick-slide {
    cursor: grab;
}

.slide .slick-initialized .slick-slide {
    height: auto;
}

.slide .slick-prev {
    left: 0;
    opacity: 0;
}

.slide .slick-next {
    right: 0;
    opacity: 0;
}

.slide {
    padding-top: 6.8vw;
    padding-bottom: 6vw;
    position: relative;
    background-color: #cca69a;
}

.slide-heading {
    margin-bottom: 3vw;
}

.slide-heading > * {
    margin: 0;
    text-transform: uppercase;
}

.slide-heading h3 {
    font-size: 2.66667vw;
    font-weight: 600;
    letter-spacing: .02em;
    line-height: 0.9em;
}

.slide-image {
    padding: 0 30px;
}

.slide-figure {
    display: block;
    padding-top: 100%;
    position: relative;
}

.slide-figure img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.slide-caption {
    padding: 30px 0;
    text-align: center;
}

.slide-caption a {
    display: block;
}

.slide-caption__heading {
    font-size: 2vw;
    font-weight: 600;
    letter-spacing: .01em;
    margin-bottom: .6em;
}
